
/* ------------------------------------------------------------*\
Common
\*------------------------------------------------------------ */
.picture-credit {
    font-size: 10px;
    color: $font-color-credit;
  }

.titol {
  font-size: 30px;
  text-align: center;
}

.section {
    max-width: $site-width;
    display: block;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    @media (min-width: $mqMinWidth) {
      padding: 0px;
      margin: 10px auto;
    }  
}

.section__inici {
  display:flex;
  flex-direction: column;  
  align-items: center;
 }

.section__cols {
    @media (min-width: $mqMinWidth) {
      display: flex;
    }  
  }

.section__left-column,
.section__right-column { 
  flex-basis: auto; 
}
  
.section__right-column {
    display: flex;
    justify-content: flex-end;
  }