
/* ------------------------------------------------------------*\
Common
\*------------------------------------------------------------ */
.picture-credit {
    font-size: 10px;
    color: $font-color-credit;
  }

.image__monument {
    width: 320px;
    height: 240px;
  @media (min-width: $mqMinWidth) {
      border: 1px solid $font-color-dark;
    }  
  }  

.image__monument:hover {
    @media (min-width: $mqMinWidth) {
      transition: transform 0.5s;
      transform: scale(1.051);
    }  
  }  

.titol {
  font-size: 30px;
  text-align: center;
}
.section {
    max-width: $site-width;
    display: block;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
  }

.section__inici {
  display:flex;
  flex-direction: column;  
  align-items: center;
 }

.section__cols {
    @media (min-width: $mqMinWidth) {
      display: flex;
    }  
  }

.section__left-column,
.section__right-column { flex-basis: auto; }

  
.section__right-column {
    display: flex;
    justify-content: flex-end;
  }