/* ------------------------------------------------------------*\
SECTION monument
\*------------------------------------------------------------ */

.image--main__monument {
  width: 320px;
  height: 240px;
  box-shadow: 0 0 5px 0 rgba(black, .5);
  align-self: center;
  @media (min-width: $mqMinWidth) {
      width: 640px;
      height: 480px;
  }  
} 

.image__monument {
  width: 320px;
  height: 240px;
  @media (min-width: $mqMinWidth) {
    border: 1px solid $font-color-dark;
  }  
}  

.image__monument:hover {
  @media (min-width: $mqMinWidth) {
    transition: transform 0.5s;
    transform: scale(1.051);
  }  
}  

.section--gallery__monument {
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;  
  @media (min-width: $mqMinWidth) {
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
  }  
}
.section--gallery__text {
    padding: 5px;
    padding-top: 0;
    align-self: stretch;
}

.section--gallery__text h3 {
  text-align:center;
  @media (min-width: $mqMinWidth) {
      text-align:left;
    }  
}

.section--gallery__image {
    align-self: stretch;
    padding: 5px;
}

