
.navigation {
    box-sizing: border-box;
    width: 100%;
    background: $backcolor-menu;
    box-shadow: 0 0 5px 0 rgba(black, .5);

    &__list {
        list-style: none;
        box-sizing: border-box;
        width: 100%;
        justify-content: right;
        margin: 0;
        padding: 16px;

        
        @media (min-width: $mqMinWidth) {
            display: flex;
            flex-wrap: nowrap;
        }        
    }
    &__item {
        color: red;
    }

    &__link {
    display: block;
    color: $color-menu;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    font-size: 1.5em;

        @media (min-width: $mqMinWidth) {
            font-size: 1em;
        }        
    }      
}  

nav ul li a:hover {
    border: none;
    color: $color-menu;
    color: $font-color-dark;
}
