<main class="main">
    <include src="views/main/section-inici.html"></include>
    <include src="views/main/section-tornar.html"></include>
    <include src="views/main/section-geografia.html"></include>
    <include src="views/main/section-tornar.html"></include>
    <include src="views/main/section-poblacio.html"></include>
    <include src="views/main/section-tornar.html"></include>
    <include src="views/main/section-monuments.html"></include>
    <include src="views/main/section-tornar.html"></include>
    <include src="views/main/section-elaboracio.html"></include>
</main>