<section id="geografia">
    
    <h2>Geografia</h2>
    <div class="section__cols">
        <div class="section__left-column">

            <div>
                <p>
                L'estudi físic del Tarragonès no pot desvincular-se del conjunt del Camp de Tarragona. La comarca del Tarragonès en comprèn un petit sector situat ran de costa. S'ha d'incloure dins de l'extrem meridional de la Depressió Prelitoral. En aquest cas el terme depressió pot donar lloc a confusions, ja que no queda situat entre muntanyes. La Serralada Prelitoral només toca d'esquitllada el Tarragonès. Les planes de l'Alt Camp i del Baix Camp també poden incloure's dins de la Depressió Prelitoral. L'alineació principal de la Serralada Prelitoral és al nord d'aquestes dues comarques. Al nord-est del Tarragonès acaba una alineació secundària de la Serralada Prelitoral. Es tracta d'un conjunt de serres que separa el Penedès del Camp. No hi arriba la Serralada Litoral, ja que a partir del Baix Penedès es troba enfonsada al fons marí.
                
                A excepció de les serres del sector nord-est i d'alguns altres indrets d'extensió reduïda, el fons del Tarragonès és constituït per materials dipositats durant el Miocè. Hi predominen margues blaves i d'altres materials d'origen marí que es dipositaren en un moment en què el mar ocupava l'actual Tarragonès. Sobre aquests materials miocens s'han dipositat posteriorment materials quaternaris. Uns es formaren pel descens difús de material procedent dels vessants veïns. D'altres foren arrossegats pels rius i es dipositaren a les seves vores. Només tenen un paper important les planes al·luvials del Francolí i el Gaià.
            </p>
            <p>
            El Tarragonès té dos rius principals, el Francolí i el Gaià. Hi ha altres rius de menor importància, entre els quals destaquen la séquia de Riuclar i alguns torrents que després de travessar el Baix Camp moren a la costa de Salou.
    
            El Francolí recull les aigües de la Conca de Barberà i de part de l'Alt Camp. Ha donat lloc a una petita plana al·luvial, que juntament amb la plana de la séquia de Riuclar, ha estat molt important per a l'economia tradicional agrícola del Tarragonès. La vall inferior del Francolí separa una àrea on dominen els materials miocens, situada a la seva esquerra, d'una altra dominada superficialment per materials quaternaris, situada al marge dret. El Francolí és un riu amb aigua corrent permanent, encara que normalment en porta molt poca a causa de la intensa explotació dels nivells freàtics de la plana al·luvial. Les aigües estan molt contaminades en el sector que recorre el Tarragonès.
                </p>
            </div>
        </div>
        <div class="section__right-column">
        </div>
    </div>

</section>
