<section id="inici">
    <h2>
        La comarca del Tarragonès
    </h2>
    <div >
        <div class="section__left-column">
            <picture>
                <img 
                src="./assets/images/Tarragona_aquaduct_01.jpg"
                alt="El Pont del Diable a Tarragona"
                class="image--main__monument"
                >
            </picture>    
            <p class="picture-credit">
                Font: &copy;  Ad Meskens / Wikimedia Commons
            </p>
        </div>
        <div class="section__right-column">
            <div>

                <p>
                    El Tarragonès és una de les tres comarques en què va quedar dividit el Camp de Tarragona en la divisió comarcal de 1936. És arran de costa, a la zona meridional, entre el Baix Penedès, al nord-est, l'Alt Camp, al nord, i el Baix Camp al sud-oest.        
                </p>
                <p>
                    Amb l'excepció del sector nord-est, on un conjunt de tossals (tossa Grossa de Montferri, 386 m) i turons separen el Camp de Tarragona del Baix Penedès, el Tarragonès té uns límits convencionals. La delimitació del Tarragonès a l'Alt Camp i al Baix Camp, les tres comarques històriques que formen el Camp de Tarragona, està en relació amb la influència de cadascun dels tres nuclis comercials (Tarragona, Valls i Reus) i amb l'equilibri administratiu de les tres comarques.
                </p>
                <p>
                    Entre Tarragona, Valls i Reus hi ha un relleu planer, tradicionalment aprofitat per al conreu de l'avellaner en el regadiu, i oliveres, ametllers i vinyes en el secà. Actualment aquest espai és ocupat en bona part per indústries, sobretot químiques.
                </p>
                <p>
                    La comarca actual del Tarragonès és el resultat de les modificacions realitzades el gener de 1990. Per una llei de la Generalitat de Catalunya, el Tarragonès definit el 1936 i 1987 es modificà per la segregació de dos municipis. El municipi de Bonastre s'agregà al Baix Penedès i el municipi dels Garidells s'agregà a la comarca de l'Alt Camp. Actualment el Tarragonès té vint-i-dos municipis. El municipi de Tarragona inclou el 20% de la superfície comarcal i el 71% de la població. 
                </p>
            </div>
        
        </div>
    </div>
</section>