<section id="monuments">
    <h2>Monuments</h2>
    <p>
        Aquesta és una selecció d'alguns dels monuments més emblemàtics del Tarragonès
    </p>
    <div class="section--gallery">
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/CastellAltafulla2.jpg" alt="Castell d'Altafulla" class="image__monument"/>
            </div>
            <div class="section--gallery__text">
                <h3>Altafulla</h3>
                <p>El Castell d'Altafulla o Castell dels Montserrat és un palau castell del Tarragonès que data del 1059. «Entre els segles x i xi, el tram final del riu Gaià fou la zona més meridional de l'entramat de castells i fortificacions que, durant prop de dos-cents anys, van marcar els límits entre el comtat de Barcelona i els territoris que pertanyien a Al-Àndalus. Zona de guerra i de disputa, moltes d'aquestes fortificacions mil·lenàries han sobreviscut fins avui. De l'antic nucli d'Altafulla destaca el castell i les petites torres, portes i cases ennoblides de l'època d'esplendor en els segles xvii i xviii»</p>
                <a href="https://ca.wikipedia.org/wiki/Castell_d%27Altafulla"  target="_blank">Més informació</a>                
            </div>
        </div>
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/CastellElCatllar.jpg" alt="Castell d'El Catllar" class="image__monument"/>
            </div>
            <div class="section--gallery__text">
                <h3>Catllar</h3>
                <p>
                    El castell del Catllar, s'alça a la part alta de la vila del mateix nom, damunt les restes d'un poblat fortificat a l'edat del ferro (segles VII-V aC) en un turó que domina un dels meandres del riu Gaià a la riba esquerra.
                    En la fortificació, situada al cim d'un turó, la muralla s'estén de nord a sud. Als extrems hi ha dues torres que són els elements constructius més importants que s'han conservat del castell. A la banda est, la muralla que unia les torres s'adapta al terreny i és més arrodonida. A l'oest, és rectilínia amb un únic angle al mig. Les torres són lleugerament rectangulars d'uns 6 m de costat i una alçada de 12 a 14 m amb diverses espitlleres i finestres.
                </p>
                <a href="https://ca.wikipedia.org/wiki/Castell_del_Catllar"  target="_blank">Més informació</a>
            </div>
        </div>
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/CastellCreixell.jpg" alt="Castell de Creixell" class="image__monument"/>
            </div>
            <div class="section--gallery__text">
                <h3>Creixell</h3>
                <p>
                    El Castell de Creixell, al Tarragonès, és un castell de forma poligonal (nou cares) situat a la part més alta del poble, encimbellat damunt d'un talús prominent. Les parts més antigues del castell daten de finals del segle xi, encara que la major part del que podem veure és posterior al segle xvi.
                </p>
                <a href="https://ca.wikipedia.org/wiki/Castell_de_Creixell"  target="_blank">Més informació</a>
            </div>
        </div>
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/PontCaixes_Constantí.jpg" alt="Pont de les caixes (Constantí)" class="image__monument"/>
            </div>
            <div class="section--gallery__text">
                <h3>Constantí</h3>
                <p>
                    Pont de les Caixes és una obra del municipi de Constantí (Tarragonès) protegida com a bé cultural d'interès local. És, en realitat, un aqüeducte d'origen romà i àmpliament reformat a l'època medieval. Formava part d'una conducció hidràulica hipotèticament vinculada a la vil·la romana de Centcelles, al terme de Constantí. En l'actualitat forma part de la Séquia dels Molins.[1] La séquia existeix des de l'època medieval i es creu que el molí també. El pont segur que ha estat refet al llarg dels anys degut al deteriorament provocat per les crescudes del torrent
                </p>
                <a href="https://ca.wikipedia.org/wiki/Pont_de_les_Caixes"  target="_blank">Més informació</a>
            </div>
        </div>
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/Castell_de_Masricart.jpg" alt="Castell de Masricart (La Canonja)" class="image__monument" />
            </div>
            <div class="section--gallery__text">
                <h3>La Canonja</h3>
                <p>
                    El Castell de Masricart és una obra del municipi de la Canonja (Tarragonès) declarada bé cultural d'interès nacional.                    
                    Es tracta d'un edifici datable molt probablement als segles XV-XVI, molt transformat posteriorment. L'accés principal està situat a la façana meridional i està format per un arc de mig punt adovellat amb un escut a la clau. Al pis noble s'obren amplis finestrals, un d'arc geminat i un altre amb llinda decorada amb guardapols sobre mènsules. A la planta segona s'hi troben una sèrie de finestres d'arc de mig punt a manera de galeria. El parament original en planta baixa és de maçoneria, que es transforma en un aparell de tàpia encofrada als pisos superiors
                </p>
                <a href="https://ca.wikipedia.org/wiki/Castell_de_Masricart"  target="_blank">Més informació</a>
            </div>
        </div>
        <div class="section--gallery__monument">
            <div class="section--gallery__image">

                <img src="assets/images/Casal_dels_Montoliu.jpg" alt="Castell dels Montoliu" class="image__monument"/>
            </div>
            <div class="section--gallery__text">
                <h3>El Morell</h3>
                <p>
                    Casal dels Montoliu, o Castell de Morell, és un gran casal del municipi del Morell declarat bé cultural d'interès nacional. L'actual edifici correspon a una edificació de nova planta de finals del segle xviii, edificat més al sud del lloc original del primer castell (presumiblement construït a la fi del segle xii, i al voltant del qual van anar sorgint les primeres cases).[1] Actualment l'edifici és la seu de l'Ajuntament d'El Morell.
                </p>
                <a href="https://ca.wikipedia.org/wiki/Casal_dels_Montoliu"  target="_blank">Més informació</a>
            </div>
        </div>
    </div>
</section>